* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6fa3ef;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin: 20px 0;
    font-size: 1.8rem;
}

#plantas {
    padding: 20px;
}

.planta {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.planta h3 {
    font-size: 1.5rem;
}

#calendario {
    padding: 20px;
    background-color: #e6f7ff;
}

.calendar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.month {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.month h3 {
    text-align: center;
    font-size: 1.3rem;
    color: #1e6fd9;
}

footer {
    background-color: #6fa3ef;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
